/* @font-face kit by Fonts2u (http://www.fonts2u.com) */
@font-face {
    font-family: "GurbaniLipi";
    src: url("Gurb_rg.eot?") format("eot"),url("Gurb_rg.woff") format("woff"),url("Gurb_rg.ttf") format("truetype"),url("Gurb_rg.svg#GurbaniLipi") format("svg");
    font-weight: normal;
    font-style: normal;
}

